.picture
{
    height: 500px;
    width: 500px;
    border: 50px solid black;
    display:flex;
    align-items:center ;
    justify-content: space-between;
}
img
{
height: 100px;
width: 100px;
margin:auto;
padding:0;

}
